App_WebReferences/OracleService/ORACLEDataAccesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="execCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="execCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="execCommandResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="execPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="execPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="execPlanResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMetadata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aMetaDataType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aTableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMetadataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMetadataResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFunctions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFunctionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFunctionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProcedures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProceduresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProceduresResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSynonyms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSynonymsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSynonymsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getViews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getViewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getViewsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIndexes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIndexesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTriggers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTriggersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTriggersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTablesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTablespaces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTablespacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTablespacesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPackages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPackagesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInfoSesionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDataBaseSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="getUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="execCommandSoapIn">
    <wsdl:part name="parameters" element="tns:execCommand" />
  </wsdl:message>
  <wsdl:message name="execCommandSoapOut">
    <wsdl:part name="parameters" element="tns:execCommandResponse" />
  </wsdl:message>
  <wsdl:message name="execPlanSoapIn">
    <wsdl:part name="parameters" element="tns:execPlan" />
  </wsdl:message>
  <wsdl:message name="execPlanSoapOut">
    <wsdl:part name="parameters" element="tns:execPlanResponse" />
  </wsdl:message>
  <wsdl:message name="getMetadataSoapIn">
    <wsdl:part name="parameters" element="tns:getMetadata" />
  </wsdl:message>
  <wsdl:message name="getMetadataSoapOut">
    <wsdl:part name="parameters" element="tns:getMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="getFunctionsSoapIn">
    <wsdl:part name="parameters" element="tns:getFunctions" />
  </wsdl:message>
  <wsdl:message name="getFunctionsSoapOut">
    <wsdl:part name="parameters" element="tns:getFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="getProceduresSoapIn">
    <wsdl:part name="parameters" element="tns:getProcedures" />
  </wsdl:message>
  <wsdl:message name="getProceduresSoapOut">
    <wsdl:part name="parameters" element="tns:getProceduresResponse" />
  </wsdl:message>
  <wsdl:message name="getSynonymsSoapIn">
    <wsdl:part name="parameters" element="tns:getSynonyms" />
  </wsdl:message>
  <wsdl:message name="getSynonymsSoapOut">
    <wsdl:part name="parameters" element="tns:getSynonymsResponse" />
  </wsdl:message>
  <wsdl:message name="getViewsSoapIn">
    <wsdl:part name="parameters" element="tns:getViews" />
  </wsdl:message>
  <wsdl:message name="getViewsSoapOut">
    <wsdl:part name="parameters" element="tns:getViewsResponse" />
  </wsdl:message>
  <wsdl:message name="getIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:getIndexes" />
  </wsdl:message>
  <wsdl:message name="getIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:getIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="getTriggersSoapIn">
    <wsdl:part name="parameters" element="tns:getTriggers" />
  </wsdl:message>
  <wsdl:message name="getTriggersSoapOut">
    <wsdl:part name="parameters" element="tns:getTriggersResponse" />
  </wsdl:message>
  <wsdl:message name="getTablesSoapIn">
    <wsdl:part name="parameters" element="tns:getTables" />
  </wsdl:message>
  <wsdl:message name="getTablesSoapOut">
    <wsdl:part name="parameters" element="tns:getTablesResponse" />
  </wsdl:message>
  <wsdl:message name="getTablespacesSoapIn">
    <wsdl:part name="parameters" element="tns:getTablespaces" />
  </wsdl:message>
  <wsdl:message name="getTablespacesSoapOut">
    <wsdl:part name="parameters" element="tns:getTablespacesResponse" />
  </wsdl:message>
  <wsdl:message name="getPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:getPackages" />
  </wsdl:message>
  <wsdl:message name="getPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:getPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoSesionSoapIn">
    <wsdl:part name="parameters" element="tns:getInfoSesion" />
  </wsdl:message>
  <wsdl:message name="getInfoSesionSoapOut">
    <wsdl:part name="parameters" element="tns:getInfoSesionResponse" />
  </wsdl:message>
  <wsdl:message name="isLoginSoapIn">
    <wsdl:part name="parameters" element="tns:isLogin" />
  </wsdl:message>
  <wsdl:message name="isLoginSoapOut">
    <wsdl:part name="parameters" element="tns:isLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ORACLEDataAccesServiceSoap">
    <wsdl:operation name="getUsers">
      <wsdl:input message="tns:getUsersSoapIn" />
      <wsdl:output message="tns:getUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="execCommand">
      <wsdl:input message="tns:execCommandSoapIn" />
      <wsdl:output message="tns:execCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="execPlan">
      <wsdl:input message="tns:execPlanSoapIn" />
      <wsdl:output message="tns:execPlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMetadata">
      <wsdl:input message="tns:getMetadataSoapIn" />
      <wsdl:output message="tns:getMetadataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFunctions">
      <wsdl:input message="tns:getFunctionsSoapIn" />
      <wsdl:output message="tns:getFunctionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProcedures">
      <wsdl:input message="tns:getProceduresSoapIn" />
      <wsdl:output message="tns:getProceduresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSynonyms">
      <wsdl:input message="tns:getSynonymsSoapIn" />
      <wsdl:output message="tns:getSynonymsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getViews">
      <wsdl:input message="tns:getViewsSoapIn" />
      <wsdl:output message="tns:getViewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <wsdl:input message="tns:getIndexesSoapIn" />
      <wsdl:output message="tns:getIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTriggers">
      <wsdl:input message="tns:getTriggersSoapIn" />
      <wsdl:output message="tns:getTriggersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <wsdl:input message="tns:getTablesSoapIn" />
      <wsdl:output message="tns:getTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTablespaces">
      <wsdl:input message="tns:getTablespacesSoapIn" />
      <wsdl:output message="tns:getTablespacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPackages">
      <wsdl:input message="tns:getPackagesSoapIn" />
      <wsdl:output message="tns:getPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfoSesion">
      <wsdl:input message="tns:getInfoSesionSoapIn" />
      <wsdl:output message="tns:getInfoSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isLogin">
      <wsdl:input message="tns:isLoginSoapIn" />
      <wsdl:output message="tns:isLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ORACLEDataAccesServiceSoap" type="tns:ORACLEDataAccesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execCommand">
      <soap:operation soapAction="http://tempuri.org/execCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execPlan">
      <soap:operation soapAction="http://tempuri.org/execPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadata">
      <soap:operation soapAction="http://tempuri.org/getMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFunctions">
      <soap:operation soapAction="http://tempuri.org/getFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedures">
      <soap:operation soapAction="http://tempuri.org/getProcedures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynonyms">
      <soap:operation soapAction="http://tempuri.org/getSynonyms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getViews">
      <soap:operation soapAction="http://tempuri.org/getViews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <soap:operation soapAction="http://tempuri.org/getIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTriggers">
      <soap:operation soapAction="http://tempuri.org/getTriggers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <soap:operation soapAction="http://tempuri.org/getTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTablespaces">
      <soap:operation soapAction="http://tempuri.org/getTablespaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackages">
      <soap:operation soapAction="http://tempuri.org/getPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoSesion">
      <soap:operation soapAction="http://tempuri.org/getInfoSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLogin">
      <soap:operation soapAction="http://tempuri.org/isLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORACLEDataAccesServiceSoap12" type="tns:ORACLEDataAccesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsers">
      <soap12:operation soapAction="http://tempuri.org/getUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execCommand">
      <soap12:operation soapAction="http://tempuri.org/execCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execPlan">
      <soap12:operation soapAction="http://tempuri.org/execPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadata">
      <soap12:operation soapAction="http://tempuri.org/getMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFunctions">
      <soap12:operation soapAction="http://tempuri.org/getFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedures">
      <soap12:operation soapAction="http://tempuri.org/getProcedures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynonyms">
      <soap12:operation soapAction="http://tempuri.org/getSynonyms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getViews">
      <soap12:operation soapAction="http://tempuri.org/getViews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <soap12:operation soapAction="http://tempuri.org/getIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTriggers">
      <soap12:operation soapAction="http://tempuri.org/getTriggers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <soap12:operation soapAction="http://tempuri.org/getTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTablespaces">
      <soap12:operation soapAction="http://tempuri.org/getTablespaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackages">
      <soap12:operation soapAction="http://tempuri.org/getPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoSesion">
      <soap12:operation soapAction="http://tempuri.org/getInfoSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLogin">
      <soap12:operation soapAction="http://tempuri.org/isLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ORACLEDataAccesService">
    <wsdl:port name="ORACLEDataAccesServiceSoap" binding="tns:ORACLEDataAccesServiceSoap">
      <soap:address location="http://localhost:51561/ORACLEDataAccesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ORACLEDataAccesServiceSoap12" binding="tns:ORACLEDataAccesServiceSoap12">
      <soap12:address location="http://localhost:51561/ORACLEDataAccesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>